<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>一天</string>
	<string>二天</string>
	<string>三天</string>
	<string>四天</string>
	<string>五天</string>
	<string>六天</string>
	<string>七天</string>
</array>
</plist>
